/*
 * CSS Personnalisé pour l'application médose
 */

@font-face {
    font-family: 'medose';
    src: url('../../KodeMono-VariableFont_wght.ttf') format('truetype');
}

#nfc_connected {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nfc_logo {
    width: 2em;
    height: 2em;
    padding: 15px;
}

#medoc_selection {

}

#search_bar {
    background-color: #FAF8F8;
    border-radius: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-column-gap: 10%;
    grid-auto-columns: fit-content(100%);

    input {
        border-radius: 1.5em;
    }

}

#bar_code {
    border: none;
    margin: 5%;
    background-color: var(--button-background-color, red);
    border-radius: 0.5em;
}