/* define variables */
:root {
    --color-primary: #46f;
    --color-secondary: #dfb2d3;
    --color-tertiary: #be4c84;
}

.cls-1 {
    fill: var(--color-primary);
}

.cls-2 {
    fill: var(--color-secondary);
}

.cls-3 {
    fill: var(--color-tertiary);
}