@font-face {
    font-family: 'medose';
    src: url('./KodeMono-VariableFont_wght.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
}

#header {
    font-family: 'medose';
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header img {
    margin-right: 10px;
    width: 40px;
}